.Button {
    height: 45px;
    width: 150px;
    margin-top: 1vh;
    text-transform: uppercase;
    font-weight: 100;
    background: black;
    border: none;
    border-radius: 2px;
    color: white;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,.325);
    box-shadow: 1px 1px 5px rgba(0,0,0,.325);
}

.Button:hover {
    cursor: pointer;
    opacity: .85;
}
