.Package {
    height: 65vh;
    max-width: 785px;
    margin: 0 auto;
}

.Package .Vacation {
    display: flex;
}

.Package .Vacation img {
    max-width: 250px;
}

.Package .Vacation .right {
    padding-left: 15px;
    max-width: 510px;
}

.Package .Vacation .desc {
    margin-bottom: 25px;
}
