.home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.home h1 {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 13vh;
    margin-bottom: 5px;
    transition: all .2s ease;
}

.home img {
    width: 100px;
    height: auto;
}

.home button {
    height: 45px;
    width: 150px;
    margin-top: 17vh;
    text-transform: uppercase;
    font-weight: 100;
    background: black;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,.325);
}
