.Sidemenu {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    color: #fff;
    transition: all .3s ease-out;
}

.slideIn {
    transform: translate3d(0,0,0);
}

.slideOut {
    transform: translate3d(-100%, 0,0);
}
