.Footer {
  text-align: center;
  margin-top: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 8px;
}

.Footer-line {
    background: black;
    height: 1px;
    width: 75%;
    margin: 0 auto 12px;
}

.Footer a {
    border: 2px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #131313;
    transition: all .2s ease-out;
}

.Footer a:hover {
    border: 2px solid #000;
    color: #fff;
    background: rgba(0,0,0,.3);
}

.Footer .Social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.Footer p {
    text-align: center;
    color: gray;
    text-transform: uppercase;
    font-size: .6em;
    background: none;
    width: 100%;
}
