.Signup-button button {
    height: 45px;
    width: 150px;
    margin-top: 1vh;
    text-transform: uppercase;
    font-weight: 100;
    background: black;
    border: none;
    border-radius: 2px;
    color: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,.325);
    transition: all .2s ease-out;
}

.Signup-button button:hover {
    cursor: pointer;
    /* background-color: #212121;*/
    color: gray;
}
